.hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 80px 0;
  gap: 48px;
  flex-wrap: wrap;
}

.left {
  flex: 1;
  min-width: 340px;
  position: relative;
}

.right {
  flex: 1;
  min-width: 340px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.taggedBox {
  padding-right: 93px;
  padding-left: 40px;
  padding-top: 1px;
  padding-bottom: 55px;
  width: 767px;
  position: relative;

  background-image: url("/src/assets/Frame.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.taggedBox h1 {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 104px;
  line-height: 96%;
  color: white;
}

.taggedBox h1 span {
  color: #00ffa3;
}

.description {
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
  max-width: 425px;
}

.tag {
  display: inline-block;
  background: linear-gradient(
    142deg,
    rgba(10, 17, 33, 0.06) 0%,
    rgba(22, 29, 50, 0) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;

  border-radius: 266px;
}

.tagFirst {
  display: inline-block;
  background: linear-gradient(
    142deg,
    rgba(10, 17, 33, 0.06) 0%,
    rgba(22, 29, 50, 0) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;

  border-radius: 266px;
  margin-bottom: 7px;
}

.tagText {
  font-family: var(--fourth-family);
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}
.tagSpan {
  font-weight: 400;
  font-size: 18px;
}
.descriptionBox {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  gap: 75px;
  align-items: center;
}

.cta {
  font-family: var(--second-family);
  justify-content: space-around;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  width: 280px;
  height: 70px;
  padding: 16px 20px;
  background: linear-gradient(
    49deg,
    #15bcdf 0.01%,
    #0ddc7a 61.5%,
    #15bcdf 100%
  );
  color: #000;

  border-radius: 999px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.icon {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.iconPlaceholder {
  width: 18px;
  height: 18px;
  background-color: #000;
  border-radius: 50%;
}

.reviews {
  margin-top: 16px;
  font-size: 12px;
  color: #777;
}

.imagePlaceholder {
  background-color: #222;
  border-radius: 24px;
  min-height: 500px;
}
