.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 70px;
  padding-bottom: 20px;
  gap: 12px;
  flex-wrap: wrap;
  min-height: 690px; /* или auto */
  height: auto;
}

.left {
  flex: 1;
  min-width: 0;
  position: relative;
}

.right {
  flex: 0 0 auto;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: stretch;
}

.taggedBox {
  padding-left: clamp(20px, 4vw, 40px);
  padding-right: clamp(20px, 6vw, 93px);
  padding-top: 1px;
  padding-bottom: 35px;
  /* padding-bottom: 55px; */
  min-width: 0;
  position: relative;
  margin-bottom: 10px;
  background-image: url("/src/assets/Frame.png");
  background-size: 100% 100%;

  background-repeat: no-repeat;
  background-position: center;
}

.taggedBox h1 {
  margin: clamp(20px, 5vw, 60px) 0;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: clamp(40px, 7vw, 101px);
  line-height: 96%;
  color: white;
}

.taggedBox h1 span {
  color: #00ffa3;
}

.description {
  color: #ccc;
  font-size: clamp(14px, 1.5vw, 18px);
  line-height: 1.6;
  max-width: 425px;
}

.tag {
  display: inline-block;
  background: linear-gradient(
    142deg,
    rgba(10, 17, 33, 0.06) 0%,
    rgba(22, 29, 50, 0) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;

  border-radius: 266px;
}

.tagFirst {
  display: inline-block;
  background: linear-gradient(
    142deg,
    rgba(10, 17, 33, 0.06) 0%,
    rgba(22, 29, 50, 0) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;

  border-radius: 266px;
  margin-bottom: 7px;
}

.tagText {
  font-family: var(--fourth-family);
  font-weight: 400;
  font-size: clamp(12px, 1.5vw, 18px);
  font-style: italic;
}
.tagSpan {
  font-weight: 400;
  font-size: clamp(12px, 1.5vw, 18px);
}
.descriptionBox {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  gap: clamp(20px, 5vw, 75px);
  align-items: center;
  flex-wrap: wrap;
}

.cta {
  font-family: var(--second-family);
  justify-content: space-around;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  width: clamp(200px, 25vw, 280px);
  height: 70px;
  padding: 16px 20px;
  background: linear-gradient(
    49deg,
    #15bcdf 0.01%,

    #0ddc7a 61.5%,

    #15bcdf 100%
  );
  color: #000;

  border-radius: 999px;
  font-weight: 700;
  font-size: clamp(14px, 1.5vw, 16px);
  cursor: pointer;
  border: none;
}

.icon {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.iconPlaceholder {
  width: 18px;
  height: 18px;
  background-color: #000;
  border-radius: 50%;
}
.ctaBox {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviewsSpan {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 10px;
  color: #fff;
}
.reviews {
  text-align: center;
  max-width: 203px;
  font-weight: 400;
  margin: 0;
  font-size: 12px;
  color: var(--color-secondary);
}

.imagePlaceholder {
  border-radius: 24px;
  height: 100%;
}
.imagePlaceholder img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    height: auto;
    gap: 32px;
    padding: 40px 0;
  }

  .left {
    order: 1;
  }

  .right {
    order: 2;
    width: 100%;
    justify-content: center;
  }

  .taggedBox {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: clamp(16px, 6vw, 40px);
    padding-right: clamp(16px, 6vw, 40px);
    text-align: center;
  }

  .taggedBox h1 {
    max-width: 100%;
    font-weight: 800;
    font-size: clamp(40px, 6vw, 100px);
    line-height: 1.1;
    margin-top: 60px;
    text-align: start;
  }

  .description {
    font-size: clamp(10px, 4vw, 20px);
    text-align: start;
    margin: 0 auto;
  }
  .tag,
  .tagFirst {
    padding: clamp(2px, 1vw, 6px);
  }
  .tagText,
  .tagSpan {
    font-size: clamp(13px, 3.5vw, 15px);
    text-align: center;
  }

  .descriptionBox {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }

  .cta {
    width: clamp(220px, 70vw, 320px);
    height: clamp(56px, 12vw, 70px);
    font-size: clamp(16px, 4vw, 18px);
    margin: 0 auto;
  }
}
