.appContainer {
  padding-left: 50px;
  padding-right: 50px;

  max-width: 1440px;
  margin: 0 auto;

  padding-left: clamp(16px, 3vw, 50px);
  padding-right: clamp(16px, 3vw, 50px);

  transition: padding 0.2s ease-in-out;
}
