:root {
  /* Fonts */
  --font-family: "Manrope", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Inter", sans-serif;
  --fourth-family: "Libre Baskerville", serif;
  /* Colors */
  --color-primary: #0d0d0d;
  --color-secondary: #848484;
  --color-accent: #ff6f61;
  --color-text: #ffffff;
  --color-muted: #1c1c1c;
  --color-background: #111;
  --color-overlay: rgba(0, 0, 0, 0.5);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
button,
a {
  cursor: pointer;
}
* {
  transition: all 0.5s ease-in-out;
}
